<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVbz2mZPOpBNkzY5EXGI45fvDXyKAoeKU</string>
	<key>GCM_SENDER_ID</key>
	<string>580020100917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Practice.PersonalCapStone</string>
	<key>PROJECT_ID</key>
	<string>personalcapstone-66b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>personalcapstone-66b8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580020100917:ios:250de82e14bc131a60f67c</string>
</dict>
</plist>